		body{
			background: url(bg.jpg) no-repeat center center fixed; 
  			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
  			background-size: cover;
			background-color: #fafaaa;
		}
		.pembatas{
			margin-left: auto;
			margin-right: auto;
			width: 900px;
			box-shadow: 10px 5px 5px #888888;
			background-color: #fff;
			border-radius: 10px;
		}
		.header{
			width: 900px;
			/*border: 1px solid #000;*/

		}
		.footer{
			width: 900px;
			/*border: 1px solid #000;*/

		}
		.tengah{
			width: 862px;
			margin-left: 23px;
			margin-top: 10px;
			/*border: 1px solid #000;*/
			min-height: 400px;

		}
		.slider{
			width: 862px;
			margin-left: 23px;
			/*border: 1px solid #000;*/
			min-height: 100px;

		}
		.konten{
			padding: 10px;
			float: right;
			width: 610px;
			min-height: 700px;
			border-left: 2px solid #d2571b;
			/*border: 1px solid #000;*/

		}
		.sidebar{
			padding: 10px;
			/*border: 1px solid #000;*/
			min-height: 700px;
			width: 200px;
			float: left;
		}
		
		input, section {
		  clear: both;
		  padding-top: 10px;
		  display: none;
		}
		label {
		  font-weight: bold;
		  font-size: 14px;
		  display: block;
		  float: left;
		  padding: 10px 30px;
		  border-top: 2px solid transparent;
		  border-right: 1px solid transparent;
		  border-left: 1px solid transparent;
		  border-bottom: 1px solid #DDD;
		}
		label:hover {
		  cursor: pointer;
		  text-decoration: underline;
		}
		#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
		  display: block;
		}
		input:checked + label {
		  border-top-color: #B7977B;
		  border-right-color: #DDD;
		  border-left-color: #DDD;
		  border-bottom-color: transparent;
		  text-decoration: none;
		}

		.displaytesti{
			margin-bottom: 5px;
			padding: 5px;
			width: 580px;
			background: #FFFFDF;
		}
		.isitesti{
			padding: 5px;
			width: 300px;
			position: relative;
			float: right;
		}

		.foto{
			width: 200px;
			float: left;
		}
		
		a:link{
			color:#d2571b;
			text-decoration: none;
		}
		
		a:hover{
			color: #ffa000;
			text-decoration: none;
		}